*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.gradle/
*.xcworkspace
*.xcodeproj
Pods/
/.kotlin/sessions/kotlin-compiler-2951988843799058750.salive
